@media screen and (min-width: 480px) {  /* ----------Every styling inside this Media Query applies to screen sizes above 480px---------- */ 
    
    /******************** 
    PAGE: CONTACT STYLING 
    ********************/ 
    
    #primary {
        float: left;
        width: 50%;
    }

    #secondary {
        float: right;
      
        width: 40%;
    }

     /******************** 
        PAGE: PORTFOLIO STYLING 
     ********************/ 

    #gallery li {
        /* Initially, the margin around the 2 columns were 2.5%. For 3 columns it add up to 15% */
        /* 100% - 15% = 85% / 3 columns = 28.3333333%  */
        width: 28.3333%;
    }

    /******************** 
        PAGE: ABOUT STYLING 
     ********************/ 

     .profile-photo {
         float: left;
         margin: 0 5%;
     }


}

@media screen and (min-width: 660px) {
    
    /******************** 
        PAGE: HEADER
     ********************/ 
     header {
         border-bottom: 5px solid #326734;
         padding-bottom: 20px;
         margin-bottom: 60px;
     }
     nav {
         float: right;
         text-align: right;             /* This position the child element to the left of the container element - initailly positioned at center */
         width: 45%;
         margin-right: 5%;
         background: none;

     }
     #logo {
         float: left;
         width: 45%;
         margin-left: 5%;
         text-align: left;

     }
     h1 {
         font-size: 2.5em;
     }

     h2 {
         font-size: .825em;
       
     }
}